*{
    margin: 0;
    padding: 0;
    font-family: calibri;
}
body,html{
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    height: 80px;
    background-color: chartreuse;
    text-transform: capitalize;
}
label.logo{
    font-size: 30px;
    color: red;
    text-align: center;
    margin: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    list-style-type: none;
}
nav ul li{
    display: inline;
    line-height: 80px;
}
nav ul li a{
    text-decoration: none;
    color:red;
    font-size: 20pxpx;
    text-transform: capitalize;
    padding: 8px 30px;
    
}
nav ul li a:active
{
    background:yellow ;
    border-radius: 5px;
}
#checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 25px;
    color: azure;
}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
}
@media(max-width:450px){
    label.logo{
        font-size: 20px;
    }
@media(max-width:700px){
    label.logo{
        font-size:25px ;
    }
    #checkbtn{
        display: block;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background: orange;
        position: fixed;
        top: 80px;
        left: -100%;
        transition: 0.5s;

    }
    nav ul li{
        display: block;
        text-align: center;
        font-size: 35px;
    }
}
@media(max-width:450px){
    label.logo{
        font-size: 25px;
        margin-right: 15px;
    }
}
